# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\eljjm\OneDrive\Documentos\Aplicaciones Moviles\mov-comp-jaramillo-torres-christopher-leonardo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
